@page
@model RazorMovie.Pages.Account.LogoutModel



<h1> вы действительно хотите выйти из системы?</h1>
<form method="post">
	<button type="submit" class="btn btn-outline-danger">Выйти</button>
</form>